image:
  repository: europe-docker.pkg.dev/gardener-project/public/gardener/extensions/os-ubuntu
  tag: latest
  pullPolicy: IfNotPresent

resources: {}

config: {}
#  disableUnattendedUpgrades: false
#  ntp:
#    daemon: ntpd
#    ntpd:
#      servers:
#        - ptbtime1.ptb.de


vpa:
  enabled: true
  resourcePolicy:
    minAllowed:
      memory: 64Mi
  updatePolicy:
    updateMode: "Recreate"

controllers:
  concurrentSyncs: 5
  ignoreOperationAnnotation: false
  heartbeat:
    renewIntervalSeconds: 30

disableControllers: []

gardener:
  version: ""
  gardenlet:
    featureGates: {}

# settings for metrics, e.g. scraping by seed-prometheus
metrics:
  # enable metrics scraping
  enableScraping: true
  port: 8080
